<div class="oj-web-applayout-max-width oj-web-padding oj-md-margin-2x-vertical">
  <oj-list-view>
    <ul>
      <li>
        <div class="oj-flex-bar oj-sm-align-items-center">
          <div class="oj-flex-bar-start">
            <span class="oj-icon-circle oj-icon-xs">
              <span class="oj-icon-circle-inner" style="background-color:#e55a37;">
                <img role="img" src="css/images/fileupload.svg" width="32" height="32">
              </span>
            </span>
          </div>
          <div class="oj-flex-bar-middle oj-sm-margin-2x-horizontal">
            <div class="oj-flex oj-lg-flex-direction-column">
              <div class="oj-flex-item">File Upload</div>
              <div class="oj-flex-item oj-text-secondary-color oj-text-sm">oj-file-picker を使ったファイルのアップロードのサンプル</div>
            </div>
          </div>
          <div class="oj-flex-bar-end">
            <span role="presentation" class="oj-fwk-icon oj-listview-drill-icon"></span>
          </div>
        </div>
      </li>
    </ul>
  </oj-list-view>
</div>